[Unit]
Description=openHAB 2
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --name=%n --net=host \
  -v /etc/localtime:/etc/localtime:ro \
  -v /etc/timezone:/etc/timezone:ro \
  -v {{OPENHAB_HOME}}/conf:/openhab/conf \
  -v {{OPENHAB_HOME}}/userdata:/openhab/userdata \
  -v {{OPENHAB_HOME}}/addons:/openhab/addons \
  -v {{OPENHAB_HOME}}/.java:/openhab/.java \
  openhab/openhab:{{OPENHAB_VERSION}}-{{OPENHAB_ARCH}}
ExecStop=/usr/bin/docker stop -t 2 %n ; /usr/bin/docker rm -f %n

[Install]
WantedBy=multi-user.target
